<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Windos environment -->
    <add key="LocalFeed" value="%USERPROFILE%\.nuget\local-packages" />
    <!-- Unix/Linux environment (uncomment if needed) -->
    <!-- <add key="LocalFeed-Linux" value="/home/gmechasoft/.nuget/local-packages" /> -->
  </packageSources>
  <packageSourceCredentials />
</configuration>
